* {
    margin: 0;
    font-family: 'Open Sans';
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

nav li {
    list-style: none;
    margin: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn {
    border: 0;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background: #FD6E0A;
    width: 150px;
    height: 65px;
    left: 450px;
    top: 550px;
}

.banner {
    margin: 0 200px;
    align-items: center;
    display: flex;
}

.image {
    margin-left: 50px;
    width: 584px;
    height: 476px;
    left: 978px;
    top: 161px;
}

div h3 {
    width: 177px;
    height: 61px;
    left: 257px;
    top: 286px;
    font-weight: 600;
    font-size: 45px;

}

div h2 {
    font-weight: 700;
    font-size: 85px;
    width: 450px;
    height: 100px;
    left: 200px;
    top: 300px;
    margin-bottom: 100px;
}

.hello {
    width: 585px;
    height: 60px;
    left: 257px;
    top: 488px;
    font-weight: 400;
    font-size: 18px;
}

.btnnew {
    color: #FD6E0A;
    border-color: #FD6E0A;
    width: 150px;
    height: 65px;
    left: 450px;
    top: 550px;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 15px;
    margin-left: 30px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
    background-size: auto, 70px;
}

.st {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}

.sd {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.about {
    padding: 130px 400px;
    text-align: center;

}

main {
    max-width: 1140;
    margin: 0 auto;
}

.table {
    text-align: center;
}

/* skills */
.skills-container {
    display: flex;
    margin-top: 50px;
    
    
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px #0000000f;
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
    
}

.skill-title {
    width: 174px;
    height: 27px;
    left: 260px;
    top: 1969px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    width: 201px;
    height: 196px;
    left: 1136px;
    top: 2016px;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.summaries {
    display: flex;
}

.summary {
    text-align: center;
}

/* .summary-title {
    width: 203px;
    height: 41px;
    left: 230px;
    top: 2533px;
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 70px;
    margin-top: 125px;

}

.e-title {
    font-weight: 700;
    font-size: 25px;
    width: 405px;
    height: 34px;
    left: 230px;
    top: 2604px;
    margin-bottom: 10px;

}

.f-title {
    font-weight: 600;
    font-size: 20px;
    width: 309px;
    height: 27px;
    left: 230px;
    top: 2648px;
    margin-bottom: 20px;

}

.s-description {
    color: #757575;
    width: 511px;
    height: 84px;
    left: 230px;
    top: 2695px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 30px;

} */